services:

  db:
    image: postgres:15
    restart: until-stopped
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - parser_network

  web:
    image: gloomylime/svs-parser-web:latest
    restart: until-stopped
    container_name: web
    depends_on:
      - db
    tty: true
    stdin_open: true
    env_file:
      - .env
    ports:
      - "${PORT}:8000"
    command: gunicorn -c gunicorn.conf.py run:app
    environment:
      - HTTP_PROXY=
      - HTTPS_PROXY=
    networks:
      - parser_network

  scheduler:
    image: gloomylime/svs-parser-scheduler:${TAG}
    restart: until-stopped
    depends_on:
      - db
    environment:
      - DISPLAY=:99
    container_name: scheduler
    tty: true
    stdin_open: true
    env_file:
      - .env
 
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - type: tmpfs
        target: /tmp
    networks:
      - parser_network


volumes:
  pgdata:


networks:
  parser_network:
    external: true
    #driver: bridge