{% extends "base.html" %}

{% block content %}
<script src="/static/js/logs.js"></script>

<div class="container">
    <h1>Логи</h1>
    <div class="mb-3">
        <label for="date" class="form-label mt-3">Дата:</label>
        <input type="date" id="date" class="form-control">
        
        <label for="search-text" class="form-label mt-3">Текст поиска:</label>
        <input type="text" id="search-text" class="form-control" placeholder="Введите текст для поиска">
    
        <button id="fetch-logs" class="btn btn-primary mt-3">Получить логи</button>
    </div>
    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Действие</th>
                <th>Сообщение</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody id="logs-table-body">
            <!-- Логи будут добавлены сюда -->
        </tbody>
    </table>
</div>

<div id="pagination" class="d-flex justify-content-center mt-3">
    <!-- Кнопки пагинации будут добавляться сюда -->
</div>


<!-- Стили для обрезки текста -->
<style>
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        cursor: pointer;
    }
    .expanded {
        white-space: normal;
        overflow: visible;
        max-width: none;
        word-break: break-word;
    }
</style>

<!-- Скрипт для развертывания текста -->
<script>
    $(document).on('click', 'td', function() {
        if ($(this).hasClass('expanded')) {
            $(this).removeClass('expanded'); // Свернуть
        } else {
            $(this).addClass('expanded'); // Развернуть
        }
    });
</script>

{% endblock %}
